.sms-code-page{
  margin: 15vh 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  min-height: 300px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 999;

  @media screen and (max-width: 600px) {
    width: 100%;
  }

}