.main-form {
  margin: 10vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 640px;
  min-height: 497px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

  @media screen and (max-width: 600px) {
    width: 400px;
    min-height: 418px;
    overflow-y: hidden;
  }
}