.sign-block{
  margin: 15vh 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  min-height: 350px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}