html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.main-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    html {
        margin: 0;

    }

    .main-page {
        align-items: stretch;
    }
}